<%= form_for(@account_datum) do |f| %>
  <% if @account_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_datum.errors.count, "error") %> prohibited this account_datum from being saved:</h2>

      <ul>
      <% @account_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <label>Nome da despesa</label><br>
    <%= f.text_field :name, style: "width:90%; margin: 0 auto; padding: 20px; margin-bottom:30px", class: "form-control"  %>
  </div>
  <div class="field text-center">
    <label>Valor da despesa</label><br>
    <%= f.text_field :amount, style: "width:90%; margin: 0 auto; padding: 20px; margin-bottom:30px", class: "form-control"  %>
  </div>
  <div class="field text-center">
    <label>Categoria</label><br>
    <%= f.text_field :category, style: "width:90%; margin: 0 auto; padding: 20px; margin-bottom:30px", class: "form-control"  %>
  </div>
  <div class="actions  text-center">

<%= link_to 'Voltar', account_data_path,class:'btn btn-danger' , style: "color:white; border:none; margin-top:60px; width:30%; padding:13px; font-weight:bold; font-size:1.2em" %>
    <%= f.submit 'Salvar', class: "btn btn-primary", style:"background-color:#678fa9; border:none; margin-top:60px; width:30%; padding:13px; font-weight:bold; font-size:1.2em" %>
</div>

<% end %>
