<p id="notice"><%= notice %></p>

<h1>Detalhes dos gastos gerais</h1>

<table class="table">
  <thead class='list-group'>
    <tr>
      <th scope="row">Nome</th>
      <th scope="row">Valor despesa</th>
      <th scope="row">Categoria</th>
    </tr>
  </thead>

  <tbody>
    <% @account_data.each do |account_datum| %>
      <tr>
        <td><%= account_datum.name %></td>
        <td><%= account_datum.amount %></td>
        <td><%= account_datum.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Voltar', plannings_path,class:'btn btn-danger' , style: "color:white; border:none; margin-top:60px; width:30%; padding:13px; font-weight:bold; font-size:1.2em" %>
