<p id="notice"><%= notice %></p>

<h1>Detalhes dos gastos gerais</h1>

<table class="table">
  <thead class='list-group'>
    <tr>
      <th scope="row">Valor despesa</th>
      <th scope="row">Categoria</th>
      <th scope="row">Nome</th>
    </tr>
  </thead>

  <tbody>
    <% @account_data.each do |account_datum| %>
      <tr>
        <td><%= account_datum.amount %></td>
        <td><%= account_datum.category %></td>
        <td><%= account_datum.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account datum', new_account_datum_path %>
