<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @account_datum.amount %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @account_datum.category %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @account_datum.name %>
</p>

<%= link_to 'Edit', edit_account_datum_path(@account_datum) %> |
<%= link_to 'Back', account_data_path %>
