<div class="container">
  <div class="row">
    <h1>Meu sonho</h1>
    <div class="col-xs-12 col-md-12">
      <p><%= @objective.name %> - <%= @objective.details %></p>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
        <%= "20% Completo " %>
        <span class="sr-only">20</span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <%= form_for(@objective) do |f| %>
          <div class="form-group" style="text-align:center">
            <label for="disabledTextInput">Quanto você quer gastar?</label>
            <%= f.text_field :amount, style: "width:90%; margin: 0 auto; padding: 20px; margin-bottom:30px", class: "form-control", placeholder: @objective.amount %>
          </div>
          <div class="form-group" style="text-align:center">
            <label for="disabledTextInput">Em quanto tempo você quer <%= (@objective.name).downcase %>?</label>
            <%= f.text_field :time, style: "width:90%; margin: 0 auto; padding: 20px; margin-bottom:30px", class: "form-control", placeholder: @objective.amount %>
          </div>
          <div class="form-group" style="text-align:center">
            <label for="disabledTextInput">Quanto você quer investir mensalmente?</label>
            <%= f.text_field :monthly_amount, style: "width:90%; margin: 0 auto; padding: 20px; margin-bottom:30px", class: "form-control", placeholder: @objective.amount %>
          </div>
        <%= submit_tag 'Recalcular isso ai', class: "btn btn-primary", style:"background-color:#678fa9; border:none; margin-top:60px; width:55%; padding:13px; font-weight:bold; font-size:1.2em" %>
        <% end %>
        <%= link_to 'Legal, e o que eu tenho que fazer pra isso acontecer?', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
