<h1 class="titulo-principal">Qual seu maior sonho?</h1>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@objective) do |f| %>
      <div class="btn-group-vertical" role="group" aria-label="...">
        <%= f.submit 'Viajar', class: 'btn btn-default navbar-btn' %>
        <%= f.submit 'Comprar um carro', name: 'car', class: 'btn btn-default navbar-btn' %>
        <%= f.submit 'Comprar um imóvel', name: 'house', class: 'btn btn-default navbar-btn' %>
        <%= f.submit 'Fazer faculdade', name: 'faculty', class: 'btn btn-default navbar-btn' %>
        <%= f.submit 'Outro', class: 'btn btn-default navbar-btn' %>
      </div>
    </div>
    <% end %>
</div>
