<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planning.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @planning.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @planning.subcategory %>
</p>

<p>
  <strong>Value:</strong>
  <%= @planning.value %>
</p>

<%= link_to 'Edit', edit_planning_path(@planning) %> |
<%= link_to 'Back', plannings_path %>
